<!--The content below is only a placeholder and can be replaced.-->
<h1 [ngClass]="myClass">{{title}}</h1>
<div [ngStyle] = "myStyle">
  <table border=1 cellpadding=20 cellspacing=0 width=100%>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
    </thead>
    <tbody>
      <tr HoverDirective *ngFor="let mon of monuments; let i=index;" (click)="onClick(mon)">
          <td>{{i}}</td>
          <td>{{mon.Name}}</td>
          <td>{{mon.City}}</td>  
      </tr>
    </tbody>
  </table>
</div>
<br>
<div class="outer-outlet">
  <router-outlet></router-outlet>
</div>

